DEBUG=True
SECRET_KEY=your-secret-key-here
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Email Configuration (for sending WebDesk assessment emails)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=snithishkumar0808@gmail.com
EMAIL_HOST_PASSWORD=wuir wknh dmec bujz
DEFAULT_FROM_EMAIL=snithishkumar0808@gmail.com


EMAIL_USER=snithishkumar0808@gmail.com
EMAIL_PASSWORD= wuir wknh dmec bujz
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

RETELL_API_KEY=key_8eba875882c1cd78aa41228c150c
RETELL_PHONE_NUMBER=+16508709612
RETELL_AGENT_ID=agent_3205d71d1021557270954cab49