# Django Configuration
DEBUG=True
SECRET_KEY=your-secret-key-here
DATABASE_URL=sqlite:///db.sqlite3

# Allowed hosts (comma-separated)
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS settings (comma-separated URLs)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
CORS_ALLOW_ALL_ORIGINS=True

# Email Configuration (for sending WebDesk assessment emails)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=snithishkumar0808@gmail.com
EMAIL_HOST_PASSWORD=wuir wknh dmec bujz
DEFAULT_FROM_EMAIL=snithishkumar0808@gmail.com


EMAIL_USER=snithishkumar0808@gmail.com
EMAIL_PASSWORD= wuir wknh dmec bujz
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

RETELL_API_KEY=key_8eba875882c1cd78aa41228c150c
RETELL_PHONE_NUMBER=+16508709612
RETELL_AGENT_ID=agent_3205d71d1021557270954cab49
RETELL_LLM_ID=llm_efd63c45a1811b0441fd192db82a